Cursor/
baidunetdisk/
chromium/
lx-music-desktop/
go/
depot_tools/
vlc
github-copilot
baloofileinformationrc
baloofilerc
cef_user_data
cfg_backups
clash-nyanpasu
clash-nyanpasu-bin
code-flags.conf
Code - OSS
dconf
dolphinrc
dunst
fastfetch
fcitx
fcitx5
gtk-3.0
gtk-4.0
ibus
JetBrains
kdeglobals
kde.org
Kingsoft
kioslaverc
kitty
Kvantum
menus
mimeapps.list
nwg-look
pavucontrol.ini
procps
pulse
QQ
QQEX
qt5ct
qt6ct
rofi
screenrecord.mp4
session
swappy
swaylock
Termius
user-dirs.dirs
user-dirs.locale
wlogout
xsettingsd
.git
